.elements__like_active {
    width: 23px;
    height: 19px;
    align-self: center;
    background-image: url(../../../../images/Union.svg) no-repeat;
    border: none;
    background-color: white;
    border: none;
    background-color: white;
    background-clip: border-box;
    background-repeat: no-repeat;
}