.elements__description {
    height: 79px;
    background-color: #FFFFFF;
    padding: 25px 15px 21px 31px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}